<div class="container-fluid">
    <nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="">Cuisine LOLO</a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <button class="Bouton_affichage_from_ajout_recette" (click)="affichage_form_ajout_recette()">Ajouter une
                    recette
                </button>

            </li>
            <li class="nav-item">
                <button class="Bouton_affichage_from_ajout_recette" (click)="affichage_form_ajout_ingredient()">
                    Ajout ingrédient
                </button>

            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
        </ul>
    </nav>
</div>

<app-formulaire-recette [isAffiched]="isAffiched"></app-formulaire-recette>
<app-formulaire-ingredient [isAffichedIngredient]="isAffichedIngredient"></app-formulaire-ingredient>
<app-liste-recette></app-liste-recette>

Liste des des choses a faire :



<br>faire l'ajout de note dans le formulaire

<br>faire l'envoie de donnée pour like dislike et pour favoris
<br> penser a rajoiuter des colonne comme par exemple : like disloke nm de portion
<br>rapidite : cout : etc