
<div class="div_header">
  <nav class="navbar sticky-top navbar-light" >
    <a class="navbar-brand" href="" style="margin-left: 48px">
      <img src="../../../favicon.ico" alt="" style="width: 40px">

    </a>    <ul class="nav justify-content-center" style="align-items: center">




      <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
    </ul>
  </nav>
</div>
<app-error-form   [message]="message"  *ngIf="ismessage!=false"></app-error-form>

<div class="main_login">
  <input type="checkbox" id="chk" aria-hidden="true" />
  <div class="login_div">
    <form class="formlogin">
      <label for="chk" aria-hidden="true">Log in</label>
      <input
        class="input_login"
        type="email"
        id="login_username"
        name="email"
        placeholder="Email"
        required=""
      />
      <input
        class="input_login"
        type="password"
        id="login_password"
        name="pswd"
        placeholder="Password"
        required=""
      />
      <button (click)="Login()">Log in</button>
    </form>
  </div>

  <div class="register_div">
    <form class="formlogin">
      <label for="chk" aria-hidden="true">Register</label>
      <input
        class="input_login"
        type="text"
        name="txt"
        placeholder="Username"
        required=""
        id="register_username"

      />
      <input
      class="input_login"
      type="password"
      name="pswd"
      placeholder="Password"
      required=""
      id="register_password"

      />
      <input
        class="input_login"
        type="password"
        name="pswd"
        placeholder="Confirm Password"
        required=""
        id="register_password2"

      />
      <button (click)="Register()">Register</button>
    </form>
  </div>
</div>
