.formulaire_ajout_recette {
  margin-top: 105px;
  background-color: var(--main_bouton);
  color: var( --main_background_color);
  border-radius: 25px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 50;
  font-size: 20px;
  width: 45%;
  overflow-y: scroll;
  height: 70%;
}

.container_formulaire_ajout_recette {
}


.InnerLabel{

color:black
}
.OuterLabel{
  color:white
}


.formulaire_ajout_recette_gauche,
.formulaire_ajout_recette_droite {

}
.formulaire_ajout_recette_gauche{
  color:black
}
.titre_ajout_recette {
  text-align: center;
  margin-bottom: -20px;
  border-bottom: 1px solid white;
}

.formulaire_ajout_recette select,
textarea {
  width: 97%;
  /* Double la largeur des éléments select */
}

/* .Bouton_affichage_from_ajout_recette {
    position: absolute;
    right: 10%;
    top: 15.5%;
    z-index: 5000;

    border: none;
    background: #e3f2fd;
} */
.checkbox_ajout_recette {
  display: none;
}

.full-width-label {
  width: 100%;
}

input[type="checkbox"]:checked + label {
  background-color: lightblue;

  /* Changer la couleur de fond au choix */
}

input[type="checkbox"]:hover {
  background-color: blue;

  /* Changer la couleur de fond au choix */
}

.ingredientQuantite {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.even-row {
  background-color: #d3d3d361;
}

.odd-row {
  background-color: white;
}

#PaysOrigin option {
  padding-left: 25px;
  /* Ajoutez de la marge à gauche pour les drapeaux */
  background-repeat: no-repeat;
  background-position: left center;
}

#PaysOrigin {
  padding-left: 30px;
  /* Ajustez la valeur en fonction de la largeur de vos drapeaux */
  background-repeat: no-repeat;
  background-position: 5px center;
  /* Ajustez la position des drapeaux */
}

.div_pays {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid grey;
  overflow-y: scroll;
  height: 350px;
  background: white;
}
.Titre_close_boutton{

  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}

.imgRecette{
  margin:20px 0px

}
.inputImageRecette{
  margin: 20px 0px;
}
.inputImageRecette{
  max-width: 190px;
  display: none;
}

.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 190px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: var(--main_background_color);
  cursor: pointer;
  margin: auto;
  margin-bottom: 15px;
}
.div_image_recette_input{
  margin: auto;
}
