<button (click)="retour_arriere()" class="back"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
    fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
  </svg></button>



<div style="overflow: auto;" *ngIf="tabCollaborarteur == false">

  <p class="margin10">Choisissez votre nom de Collaborateur:</p>
  <div class="congeValider">
    <table mat-table [dataSource]="data_array" class="mat-elevation-z8" matSort #empTbSort="matSort">

      <ng-container matColumnDef="codeCollab">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> codeCollab </th>
        <td mat-cell *matCellDef="let element; ">
          {{element.codeCollab}}
          <a (click)="test(element.codeCollab)" class="stretched-link"></a>
        </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.nom}}</td>
      </ng-container>


      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom</th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="position-relative"
        [ngClass]="{ 'first-row': row === data_array[0] }"></tr>

    </table>
  </div>
</div>
<div *ngIf="tabCollaborarteur">
  <h5>
    <p class="margin10">Bonjour {{ donnee_array.nom }} {{ donnee_array.prenom }}, pour information
      votre Code collaborateur est {{
      donnee_array.codeCollab }}.</p>

    <br>

  </h5>


  <app-container codeCollaborateur={{donnee_array.codeCollab}} nomC={{donnee_array.nom}}
    prenomC={{donnee_array.prenom}}></app-container>

</div>