<div class="container_detail_recette">
  <div   class="img_Background">
    <img

      [src]="
        'https://lorenzo-geano-etu.pedaweb.univ-amu.fr/extranet/CuisineLOLO/image/' +
        dataRecette2['img']
      "
      [alt]="'' + dataRecette2['img']"
    />

  <div *ngIf="dataRecette2" class="main_detail_recette">
    <div class="header_detail_recette">
      <h1>
        <h5>{{ dataRecette2["Nom recette"] }}</h5>
      </h1>
    </div>

    <div class="Gauche_detail_recette">
      <!-- <h5>{{ dataRecette2['Nom recette'] }}</h5> -->

      <p>
        Pays d'origine {{ dataRecette2["PaysOrigine"] }}
        <label *ngFor="let country of countryLista" class="">
          <img
            *ngIf="dataRecette2['PaysOrigine'] === country.name"
            [src]="
              '../assets/imagesPays/' + country.code.toLowerCase() + '.png'
            "
            alt="drapeau"
          />
        </label>
      </p>
      <p>Portion : {{ dataRecette2["Portion"] }} Personnes</p>
      <!-- <p>Favoris: {{ dataRecette2['Favoris'] }}</p> -->
      <p>Note: {{ dataRecette2["Note"] }}/10</p>

      <p>Temps de préparation: {{ dataRecette2["TempsPrepa"] }} min</p>
      <p>Temps de Cuisson: {{ dataRecette2["Cuisson"] }} min</p>
      <p>Ustensils et appareils: {{ dataRecette2["TempsPrepa"] }}</p>
    </div>

    <div class="droite_detail_recette">
      <div *ngIf="recette">
        <div class="IngredientDiv">
          <h3>Tu auras besoin de :</h3>
          <ul>
            <li
              *ngFor="
                let ingredient of recette.IngredientQuantite.split('|');

              "
              class="li_etape_recette"

            >
             {{ ingredient.split(":")[1] }}
             {{ ingredient.split(":")[0] }}
            </li>
          </ul>
        </div>
        <h3>Préparation</h3>
        <ul style="font-size: 15px">
          <li
            *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
            class="li_etape_recettePrep"
          >
            <ng-container *ngIf="recette['Etape' + i]">
              {{ recette["Etape" + i] }}
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="footer">https://recettelolo.netlify.app/</div>
  </div>

</div>
