header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 80px;
    background-color: #f8efb4;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ajout de l'ombrage */
    display: flex;
    align-items: center;
    z-index: 1322313;
}

.header-content {
    flex-grow: 1;
    text-align: center;
}

header h1 {
    margin: 0;
}

header button {
    margin-left: auto;
    border: none;
    cursor: pointer;
}