.button_choix {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background-color: #efd866;
    border: #efd866 solid 3px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}

.button_choix:hover {
    cursor: pointer;
    background-color: #efd866;
    color: white;
}


.button_choix:focus {
    outline: none;
}


.form_register_login {
    width: 435px;
    height: 400px;
    margin: auto;
    margin-top: 75px;
    background-color: #f8efb4;
    color: black;
    border-radius: 25px;
    padding: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)scale(1.5);
    z-index: 50;
    font-size: 20px;
}



.form_register_login h3 {
    text-align: center;
    margin: -7px 0 25px 0;

}



.btn-close {
    position: absolute;
    right: 8%;
    top: 8%;
}

.flex_button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}