<div class="div_header" style="
  width: 100%;
  margin: 0;
  padding: 0;
">
  <nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="">Cuisine LOLO</a>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        Recette
      </li>
      <li class="nav-item">
        Tuto
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
  </nav>
</div>
