/* code pour choisir la date de ses conge */
.date-input1,
.date-input2 {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mat-elevation-z8 {

    width: 50%;
    margin: 0 10%;
    margin-bottom: 15px;
}

.tableau {
    width: 80%;
}

.center {
    text-align: center;
}

.congeValider {
    font-size: 21px;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    font-size: 19px;
}

.tableau {
    width: 80%;
}

.main_div {
    text-align: center;
}

.positioncenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back {
    border: none;
    background: inherit;
    transform: scale(1.5);
}

.date-input1,
.date-input2 {
    margin-right: 15px;
}

.main_div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    margin-bottom: 25px;
}

button {
    background-color: #efd866;
    border: #efd866 solid 3px;
    border-radius: 5px;

    color: black;
}


button:hover {
    cursor: pointer;
    background-color: #efd866;
    color: white;
}


button:focus {
    outline: none;
}

.margin10 {
    margin: 0 8%;
    font-style: italic;
    font-size: 21px;
}