<main class="container_all_card">
    <!-- [ngClass]="{'favori': recetteItem.isFavorite || recetteItem['Favoris'] === ' true', 'non-favori': !recetteItem.isFavorite}" -->
    <div *ngFor="let recetteItem of recette" class="card">
        <div class="test">
            <div class="card" style="width: 18rem;">
                <div class="alignement_favoris_recette">
                    <p>Recette N°{{recetteItem['ID Recipe'] }}</p>
                    <button class="button_favoris" (click)="favoris_button_function(recetteItem)">
                        <div *ngIf="recetteItem['Favoris']==='false'"> <svg xmlns="http://www.w3.org/2000/svg"
                                width="30" height="30" fill="currentColor" class="bi bi-star green-star"
                                viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />

                            </svg>
                        </div>
                        <div *ngIf="recetteItem['Favoris']==='true'"> <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                height="30" fill="yellow" class="bi bi-star green-star" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />

                            </svg>
                        </div>

                    </button>
                </div>
                <h5 class="card-title" style="height: 73px;">{{ recetteItem['Nom recette'] }}<br>
                    Note: {{recetteItem['Note']}}/10
                </h5>
                <img class="card-img-top" [src]="'' + recetteItem['image']" [alt]="'' + recetteItem['image']" style="width: 287px;
                height: 224px;">


                <div class="card-body" style="height: 146px;">
                    <b> Ingrédients</b>
                    <p class="card-text">{{ recetteItem['Ingrédient'].join(', ') }}</p>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Temps de préparation : {{ recetteItem['Temps de préparation'] }}</li>
                    <li class="list-group-item">Provenance : {{ recetteItem['Pays d\'origine'] }}
                        <img [src]="'../assets/imagesPays/' + recetteItem['Pays d\'origine'] + '.png'" alt="drapeau">
                    </li>



                </ul>
                <div class="card-body">
                    <button (click)="goToPage(recetteItem['ID Recipe'])" class="bouton_voir_recette">Voir la
                        recette</button>
                    <a href="#" class="card-link">like</a>
                    <a href="#" class="card-link">dislike</a>
                </div>
            </div>
        </div>
        <!-- 
    <p>Recette n°{{ recetteItem['ID Recipe'] }}</p>
    <p>Nom recette: {{ recetteItem['Nom recette'] }}</p>
    <p>Ingrédient: {{ recetteItem['Ingrédient'].join(', ') }}</p>
    <p>Temps de préparation: {{ recetteItem['Temps de préparation'] }}</p>
    <p>Pays d'origine: {{ recetteItem['Pays d\'origine'] }}</p>
    <p>Favoris: {{ recetteItem['Favoris'] }}</p> -->


    </div>

</main>